<div id="battleMapBackground">
	<md-grid-list md-cols="{{vm.columns}}" md-row-height="1:.5" ng-show="vm.rows && vm.columns">
		<md-grid-tile ng-repeat="cell in vm.battleMap" ng-style="{'background-color': cell.occupied ? (cell.resident.isGood ? 'darkgreen' : 'darkred') :'white'}"
			ng-click="vm.cellSelected(cell)">
			{{cell.occupied ? cell.resident.name : ""}}
			<md-grid-tile-header ng-show="cell.selected">
				<div class="gridHeaderRight">
					<i class="material-icons pointer" ng-click="vm.clearCell(cell, $event)">clear</i>
				</div>
			</md-grid-tile-header>
		</md-grid-tile>
	</md-grid-list>
</div>

<input type="text" ng-model="vm.rows" />
<input type="text" ng-model="vm.columns" />
<input type="button" value="Generate Map" ng-click="vm.initializeMap(vm.rows, vm.columns)" />