div#battleMapBackground {
    background-color: black;
}

div.gridHeaderRight {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 5px;
}

md-grid-tile {
    color: white;
}

md-grid-tile.selected {
    opacity: .5;
}

.pointer {
    cursor: pointer;
}

div#selectedCharacterOptions {
    text-align: center;
    height: 110px;
    /*border: 1px solid red;*/
    position: relative;
}

div#characterPane {
    position: absolute;
    left: 0;
    text-align: left;
    width: 30%;
    padding-left: 5px;
    /*border: 1px solid green;*/
}

div.actionBox {
    border: 1px solid black;
    position: relative;
    display: inline-block;
    height: 109px;
    width: 220px;
    margin: 0 auto;
    text-align: center;
    background-color: darkgrey;
}

label {
    font-weight: bold;
}
