div#battleMapBackground {
    background-color: black;
}

div.gridHeaderRight {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 5px;
}

md-grid-tile {
    color: white;
}

md-grid-tile.selected {
    opacity: .5;
}

.pointer {
    cursor: pointer;
}

div#characterPane {
    /*border: 1px solid green;*/
}

div#actionPane {
    /*border: 1px solid red;*/
}

div#endPane {
    /*border: 1px solid blue;*/
}

span#ongoing {
    font-weight: bold;
    color: red;
}

div.actionBox {
    border: 1px solid black;
    background-color: darkgrey;
}

label {
    font-weight: bold;
}
